<div class="container" style="margin-top: 80px" ng-controller="ExpensesViewController">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
						<a class="btn btn-success btn-lg btn-block" href="./#!/expenses/new"><span class="glyphicon glyphicon-plus"></span> New Expense</a>
			</div>
			<div class="form-group">
			<ul class="list-group">
					<!--  Para cada expense (esto puede llamarse x, a lo que sea) en expenses (nombre del arreglo) -->
				<li ng-repeat="expense in expenses" class="list-group-item text-center">
					
					<span class="pull-left">{{expense.amount | currency}}</span>

					{{expense.description | capitalize}}

					<a class="btn btn-danger btn-s pull-right btn-separation-left" href="./#!/expenses/edit/{{expense.id}}">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
					<a href="" class="btn btn-primary btn-s pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>					
				</li>
			</ul>
			<div>
		</div>
	</div>
</div>
